<md-dialog>

    <md-card ng-controller="roleSelectCtrl as ctrl">

        <md-card-title>
            <md-card-title-text layout-align="space-around center">
                <span class="md-headline">Do you want to Edit added Member?</span>
            </md-card-title-text>
        </md-card-title>

        <md-dialog-content style="width:420px; height: 200px; margin: 10px;">

            <form name="editAddedMembersForm" ng-model="editedMember">

                <center>
                    <md-input-container>
                        <input style=" width: 350px;" required name="email"
                               type="email" placeholder="Enter Member E-mail" ng-model="editedEmail"
                               aria-label="member.email">
                        <div ng-messages="editAddedMembersForm.email.$error">
                            <div ng-message="required">Email is required.</div>
                            <div ng-message="email">Email is invalid.</div>
                        </div>
                    </md-input-container>

                    <md-autocomplete required
                                     md-input-name="autocomplete"
                                     style="width: 350px; height: 40px"
                                     ng-disabled="ctrl.isDisabled"
                                     md-no-cache="ctrl.noCache"
                                     md-selected-item="ctrl.selectedItem"
                                     md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                                     md-search-text="ctrl.searchText"
                                     md-selected-item-change="ctrl.selectedItemChange(item)"
                                     md-items="item in ctrl.querySearch(ctrl.searchText)"
                                     md-item-text="item.display"
                                     md-min-length="0"
                                     placeholder="Select Category..."
                                     md-input-id="editedCategoryName">
                        <md-item-template>
                                    <span md-highlight-text="ctrl.searchText"
                                          md-highlight-flags="^i">{{item.display}}</span>
                        </md-item-template>
                        <div ng-messages="addMembersForm.autocomplete.$error">
                            <div ng-message="required">Category is required.</div>
                        </div>
                        <md-not-found>
                            No states matching "{{ctrl.searchText}}" were found.
                            <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
                        </md-not-found>
                    </md-autocomplete>
                </center>
                <br>

                <!--ADD button-->
                <center>
                    <md-button ng-click="addEditedMember()" class="md-primary md-raised" aria-label="Favorite"
                               ng-disabled="!editAddedMembersForm.$valid">
                        Edit
                    </md-button>
                    <md-button ng-click="cancel()" class="md-primary md-raised" aria-label="Favorite">
                        Cancel
                    </md-button>
                </center>

            </form>

        </md-dialog-content>

    </md-card>
</md-dialog>